/* 
Conveccion de buenas practicas para crear los estilos
1. Posicionamiento.
2. Modelo de caja (Box Model)
3. Tipografia.
4. Visual.
5. Otros.
*/

/* Estilos generales */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html{
    font-size: 62.5%;
    font-family: 'Roboto', sans-serif;
}

main{
    max-width: 1200px;
    margin: 0 auto;
}

.hero{
    display: grid;
    grid-template-columns: 2fr 3fr;
    grid-auto-rows: 400px;
}

.hero-info{
    align-self: center;
}

.hero-image{
    width: 100%;
    height: 100%;
    object-fit: contain;
}